@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #4ade80;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Blue text for Education Flow */
.text-brand {
  color: #3b82f6;
}

/* Green for interface */
.text-interface {
  color: #4ade80;
}
